<launch>
    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find dynamixel_tutorials)/config/dynamixel_joint_controllers.yaml" command="load"/>
    
    <!-- start specified joint controllers -->
    <node name="dynamixel_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" output="screen"
          args="--port=ttyUSB0 pan_controller tilt_controller">
        <param name="port_name" value="/dev/ttyUSB0"/>
        <param name="baud_rate" value="1000000"/>
    </node>
</launch>
